#portada {
  width: 100%;
  height: 90vh; /* Altura de la ventana del navegador */
  background: url("https://img.freepik.com/foto-gratis/grupo-multietnico-hombres-jovenes-mujeres-que-estudian-adentro_1139-989.jpg?w=1380&t=st=1672758178~exp=1672758778~hmac=6f7029fb46960ab4791c0d3a23fdfc6db0a63edf253926f3ef182cb7a22b24fb") no-repeat center center fixed; /* Fondo animado */
  background-size: cover; /* Ajusta el fondo a la sección */
}
